.job-board-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #b9b7b7;
}

.job-board-card h3 {
  color: #333;
  margin-bottom: 10px;
}

.job-board-card p {
  color: #666;
  margin: 5px 0;
}

.job-board-card .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.board-button {
  padding: 6px 12px;
  font-size: 0.8rem;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
  background-color: #030101;
  border: 1px solid #ccc;
  border-radius: 5px;
}
