.container {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  margin: 0 200px;
  min-height: 600px;
}

.top-frame,
.bottom-frame,
.col-1,
.col-3 {
  background-color: rgb(63, 63, 63);
}

.top-frame,
.bottom-frame {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.col-1,
.col-3 {
  border: 2px solid black;
}

.col-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.col-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

.top-frame {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.middle {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 0.9rem;
  line-height: 3;
  padding: 0 15px;
  background-color: rgb(244, 236, 226);
}

.bottom-frame {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
